@charset "UTF-8";
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/bookmark.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/folder.css');

*{
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #080808;
    --second-bg-color: #333333;
    --text-color: white;
    --main-color: #cf2507;
  }

header{
    background-color: #333333;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.menu{
    margin-top: 25px;
    display: inline-block;
    cursor: pointer;
}

#logo{
    display: inline-block;
    margin-left: 10%;
    transform: translate(0px, 8px);
}

.perfil{
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
}

.perfilm{
    display: none;
    float: inline-end;
    transform: translate(-60px, -30px);
    background-color: var(--second-bg-color);
    box-shadow: 0 0 7px 0 rgb(20, 20, 20);
    border-radius: 12px;
    width: 200px;
    height: 135px;
}

.perfilm a{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 60px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);   
}

#a1{
    border-radius: 12px 12px 0px 0px;
    padding-left: 5.4em;
    padding-right: 5.4em;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
}

#a1:hover{
    background-color: rgb(80, 78, 78);
}

#a2{
    border-radius: 0px 0px 12px 12px;
    padding-left: 2em;
    padding-right: 1.8em;
    padding-top: 1.4em;
    padding-bottom: 2.2em;
}

#a2:hover{
    background-color: rgb(80, 78, 78);
}

.gg-bookmark{
    display: flex;
    float: left;
    margin-top: 22px;
    margin-left: 20px;
}

.gg-folder{
    transform: scale(0.8);
    display: flex;
    float: left;
    margin-top: 22px;
    margin-left: 15px;
}



@media screen and (max-width: 600px) {
    .perfilm{
        width: 100px;
        height: 150px;
        transform: translate(-46px, -30px);
    }

    .perfilm a{
        font-size: 10px;
        line-height: 45px;
        margin-left: 5px;
    }

    #a2{
        margin-left: 0;
    }

    #a3{
        margin-left: 35px;
    }

    .gg-bookmark{
        transform: scale(0.6);
        margin-left: 10px;
        margin-top: 15px;
    }

    .gg-folder{
        transform: scale(0.5);
        margin-left: 5px;
        margin-top: 15px;
    }

    

    .toogle{
        transform: scale(0.7);
        margin-left: -21px;
        margin-top: -8px;
    }

    .slide h1{
        font-size: 25px;
    }
    .slide i{
       font-size: 15px;
    }

}

/* Barra de Pesquisa*/
form{
    display: inline-block;
    margin: auto;
}

form button{
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    border: none;
    transform: translate(-12px);
    color: crimson;
    cursor: pointer;
}

form input{
    outline: 0px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    padding-right: 30em;
}
/* Barra de Pesquisa*/

/* Menu Lateral */
  .slide{
    height: 600px;
    border-radius: 0 0 10px 10px;
    width: 250px;
    position:absolute;
    background-color: var(--second-bg-color);  
    transition: 0.5s ease;
    transform: translateX(-250px);
    
}
@media screen and (max-width: 600px){
    .slide{
        height: 450px;
    }
}

h1{
    color: var(--main-color);
    font-weight: 800;
    text-align: center;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}
ul li{
    list-style: none;
}
ul li a{
    color: var(--text-color);
    font-weight: 500;
    font-size: large;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2 ease-out;
}
ul li:hover a{
    color: var(--text-color);
    background-color: var(--bg-color);

}
ul li a i{
    width: 40px;
    text-align: center;
}

label input{
    display: none;
    visibility: hidden;
    appearance: none;
}
.toogle{
    position: absolute;
    height: 32px;
    width: 40px;
    top: 52px;
    left: 40px;
    background-color: rgb(75, 75, 75);
    z-index: 1;
    cursor: pointer;
    border-radius: 3px;
}
.toogle .common{
    position: absolute;
    height: 3px;
    width: 32px;
    background-color: #cf2507;
    border-radius: 50px;
    transition: 0.3s ease;
}
.toogle .top_line{
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toogle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toogle .bottom_line{
    top:70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input:checked ~ .toogle .top_line{
     left: 2px;
     top: 14px;
     width: 36px;
     transform: rotate(45deg);
}
input:checked ~ .toogle .bottom_line{
    left: 2px;
    top: 14px;
    width: 36px;
    transform: rotate(-45deg);
}
input:checked ~ .toogle .middle_line{
    opacity: 0;
    transform: translateX(20px);
}
input:checked ~ .slide{
    transform: translateX(0);
    
}
/* Menu Lateral */


@media screen and (max-width: 1050px) {
    form input{
        padding-right: 15em;
    }
}

@media screen and (max-width: 800px) {
    form input{
        padding-right: 4em;
    }
}

@media screen and (max-width: 600px) {
    
    form input{
        display: none;
    }

    form button{
        border-radius: 10px;
        transform: translate(35px, 0);
    }

    .perfil{
        margin-top:12px;
    }
}

footer{
    background-color: var(--second-bg-color);
    width: 100vw;
    height: 100px;
}